@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1);
}
.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}